*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
  
  
}

html{
  scroll-behavior: smooth;
}

a{
  color: white !important;
  transition: color .5s ease-in-out !important;
}

a:hover{
  color: #ff9101 !important;
}

.navbar-toggler{
  color: #00111c !important;
}


ul,a{
  list-style: none;
  
  

}

body{
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  
  
}

.button-styl{
  
  background-color: rgb(255, 255, 255);
  padding: 15px 60px;
  border: none;
  border-radius: 10px;
  color: black;

}

.button-2{
  
  background-color: #00111c;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  color: white;

}


.card-gray{
    background-color: aqua;
}



